### Imports

In [10]:
from pyod.models.ecod import ECOD
from mpl_toolkits import mplot3d
from sklearn.metrics import silhouette_score
from sklearn.model_selection import RandomizedSearchCV
from tqdm import tqdm
from utils.utils import *

import hdbscan
import matplotlib.pyplot as plt
import networkx as nx
import numpy as np
import os
import pandas as pd
import sys

%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 2.53 ms (started: 2023-06-06 16:20:59 -05:00)

### Parameters

In [11]:
import json
  
# Opening JSON file
file = open("parameters.json")
params = json.load(file)

exp = params["exp"]
print("Exp:\t\t", exp)

method = params["method"]
print("Method:\t\t", method)

dimension = params["dimension"]
print("Dimension:\t", dimension)

groups_id = params["groups_id"]
print("Groups id:\t", groups_id)

subgroups_id = {"WT": ["dyn"], "zwf1^": ["dyn"], "pck1^": ["dyn"]} # params["subgroups_id"]
print("Subgroups id:\t", subgroups_id)

Exp:		 exp3
Method:		 dgi
Dimension:	 3
Groups id:	 ['WT', 'zwf1^', 'pck1^']
Subgroups id:	 {'WT': ['dyn'], 'zwf1^': ['dyn'], 'pck1^': ['dyn']}
time: 4.1 ms (started: 2023-06-06 16:21:00 -05:00)

### Edge embeddings

In [12]:
# get edges embeddings

edge_embeddings_global(exp, method, dimension, groups_id, subgroups_id)

  0%|          | 0/3 [00:00<?, ?it/s]

In [ ]:
df_edge_embeddings = pd.read_csv("output/{}/edge_embeddings/edge-embeddings_{}_{}_{}_{}_{}.csv".format(exp, groups_id[0], subgroups_id[groups_id[0]][0], method, dimension, "L2"), index_col=[0, 1])
df_edge_embeddings.head()

                0             1             2
0 1  1.141092e-03  2.844089e-09  1.935483e-03
  2  5.719292e-09  1.831840e-11  1.119957e-08
  3  1.711193e-03  4.984056e-08  2.932515e-03
  4  1.806821e-04  1.005524e-07  3.249815e-04
  5  3.780978e-04  5.817744e-10  6.364360e-04

time: 491 ms (started: 2023-06-06 15:26:19 -05:00)

### Concat edge embeddings

In [ ]:
for group in tqdm(groups_id):
    df_edge_embeddings_concat = pd.DataFrame()
    for subgroup in tqdm(subgroups_id[group]):
        df_edge_embeddings = pd.read_csv("output/{}/edge_embeddings/edge-embeddings_{}_{}_{}_{}_{}.csv".format(exp, group, subgroup, method, dimension, "L2"), index_col=[0, 1])
        df_edge_embeddings["subgroup"] = [subgroup] * len(df_edge_embeddings)

        df_edge_embeddings_concat = pd.concat([df_edge_embeddings_concat, df_edge_embeddings])
    df_edge_embeddings_concat.to_csv("output/{}/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(exp, group, method, dimension, "L2"), index=True)

100%|██████████| 5/5 [00:05<00:00,  1.17s/it]
100%|██████████| 3/3 [00:08<00:00,  2.68s/it]
100%|██████████| 2/2 [00:02<00:00,  1.31s/it]
100%|██████████| 3/3 [03:02<00:00, 60.86s/it]

time: 3min 2s (started: 2023-06-06 15:26:19 -05:00)

In [ ]:
df_edge_embeddings_concat = pd.read_csv("output/{}/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(exp, groups_id[0], method, dimension, "L2"), index_col=[0, 1])
df_edge_embeddings_concat.head()

                0             1             2  subgroup
0 1  1.141092e-03  2.844089e-09  1.935483e-03         1
  2  5.719292e-09  1.831840e-11  1.119957e-08         1
  3  1.711193e-03  4.984056e-08  2.932515e-03         1
  4  1.806821e-04  1.005524e-07  3.249815e-04         1
  5  3.780978e-04  5.817744e-10  6.364360e-04         1

time: 4.78 s (started: 2023-06-06 15:29:22 -05:00)

In [ ]:
# plot edge embeddings concat

for group in tqdm(groups_id):
    df_edge_embeddings_concat = pd.read_csv("output/{}/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(exp, group, method, dimension, "L2"), index_col=[0, 1])

    x = df_edge_embeddings_concat.iloc[:, 0]
    y = df_edge_embeddings_concat.iloc[:, 1]
    z = df_edge_embeddings_concat.iloc[:, 2]

    # Creating figure
    fig = plt.figure(figsize=(10, 7))
    ax = plt.axes(projection="3d")

    # Creating plot
    ax.scatter3D(x, y, z, c=df_edge_embeddings_concat.iloc[:, -1], alpha=0.1)
    # plt.title("Dimension: {}".format(dimension))

    # show plot
    plt.savefig("output/{}/plots/edge-embeddings_concat_{}_{}_{}_{}.png".format(exp, group, method, dimension, "L2"))
    # plt.show()
    plt.close()

100%|██████████| 3/3 [14:05<00:00, 281.93s/it]

time: 14min 5s (started: 2023-06-06 15:29:27 -05:00)

### Outliers detection

In [ ]:
# Outlier detection (HDBSCAN)

""" df_edge_embeddings_concat = pd.read_csv("output/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(group, method, dimension, "L2"), index_col=[0, 1])

X_train = df_edge_embeddings_concat.iloc[:, :-1]
clusterer = hdbscan.HDBSCAN(min_cluster_size=100, core_dist_n_jobs=-1).fit(X_train)

threshold = pd.Series(clusterer.outlier_scores_).quantile(0.9)
outliers = np.where(clusterer.outlier_scores_ > threshold)[0]
print(len(outliers))
outliers

inliers = np.setdiff1d(np.arange(len(df_edge_embeddings_concat)), outliers)
print(len(inliers))
inliers """

' df_edge_embeddings_concat = pd.read_csv("output/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(group, method, dimension, "L2"), index_col=[0, 1])\n\nX_train = df_edge_embeddings_concat.iloc[:, :-1]\nclusterer = hdbscan.HDBSCAN(min_cluster_size=100, core_dist_n_jobs=-1).fit(X_train)\n\nthreshold = pd.Series(clusterer.outlier_scores_).quantile(0.9)\noutliers = np.where(clusterer.outlier_scores_ > threshold)[0]\nprint(len(outliers))\noutliers\n\ninliers = np.setdiff1d(np.arange(len(df_edge_embeddings_concat)), outliers)\nprint(len(inliers))\ninliers '

time: 4.64 ms (started: 2023-06-06 15:43:33 -05:00)

In [ ]:
# outlier detection (ECOD)

dict_df_edge_embeddings_concat_outlier = {}
dict_df_edge_embeddings_concat_filter = {}

for group in tqdm(groups_id):
    df_edge_embeddings_concat = pd.read_csv("output/{}/edge_embeddings/edge-embeddings_concat_{}_{}_{}_{}.csv".format(exp, group, method, dimension, "L2"), index_col=[0, 1])

    X_train = df_edge_embeddings_concat.iloc[:, :-1]

    clf = ECOD()
    clf.fit(X_train)

    X_train["labels"] = clf.labels_ # binary labels (0: inliers, 1: outliers)

    df_edge_embeddings_concat_filter = df_edge_embeddings_concat.copy()
    df_edge_embeddings_concat_filter["labels"] = clf.labels_
    df_edge_embeddings_concat_filter = df_edge_embeddings_concat_filter[df_edge_embeddings_concat_filter["labels"] == 0]
    df_edge_embeddings_concat_filter = df_edge_embeddings_concat_filter.iloc[:, :-1]

    dict_df_edge_embeddings_concat_outlier[group] = X_train
    dict_df_edge_embeddings_concat_filter[group] = df_edge_embeddings_concat_filter

100%|██████████| 3/3 [01:00<00:00, 20.22s/it]

time: 1min (started: 2023-06-06 15:43:33 -05:00)

In [ ]:
# plot outliers/inliers

for group in tqdm(groups_id):
    fig = plt.figure(figsize = (10, 7))
    ax = plt.axes(projection ="3d")

    df_aux = dict_df_edge_embeddings_concat_outlier[group]
    print("Total:", len(df_aux))
    
    temp = df_aux[df_aux["labels"] == 0]
    x = temp.iloc[:, 0]
    y = temp.iloc[:, 1]
    z = temp.iloc[:, 2]
    ax.scatter3D(x, y, z, c="red", alpha=0.005)
    print("Num. of inliers:", len(temp))

    temp = df_aux[df_aux["labels"] == 1]
    x = temp.iloc[:, 0]
    y = temp.iloc[:, 1]
    z = temp.iloc[:, 2]
    ax.scatter3D(x, y, z, c="gray", alpha=0.005)
    print("Num. of inliers:", len(temp))

    # show plot
    plt.savefig("output/{}/plots/edge-embeddings_outlier_{}_{}_{}_{}.png".format(exp, group, method, dimension, "L2"))
    # plt.show()
    plt.close()

  0%|          | 0/3 [00:00<?, ?it/s]

Total: 12232238
Num. of inliers: 11009014
Num. of inliers: 1223224

 33%|███▎      | 1/3 [04:43<09:26, 283.02s/it]

Total: 17089033
Num. of inliers: 15380129
Num. of inliers: 1708904

###  Filter common edges

In [ ]:
# mapping idx with id

for group in tqdm(groups_id):
    dict_df_nodes = {}
    for subgroup in subgroups_id[group]:
        df_nodes = pd.read_csv("output/{}/preprocessing/graphs_data/nodes_data_{}_{}.csv".format(exp, group, subgroup))
        dict_df_nodes[subgroup] = df_nodes
    
    # mapping
    df_edge_embeddings_concat_filter = dict_df_edge_embeddings_concat_filter[group]
    list_index = []

    for row in tqdm(df_edge_embeddings_concat_filter.itertuples()):
        df_nodes = dict_df_nodes[str(row[-1])]
        list_index.append((df_nodes.iloc[row[0][0], -1], df_nodes.iloc[row[0][1], -1]))
    
    # set new index
    df_edge_embeddings_concat_filter.set_index([pd.Index(list_index)], inplace=True)
    df_edge_embeddings_concat_filter

11009014it [04:45, 38528.26it/s]it/s]
15380129it [06:38, 38580.33it/s]9, 294.63s/it]
5439862it [02:20, 38711.89it/s]02, 362.53s/it]
100%|██████████| 3/3 [14:11<00:00, 283.67s/it]

time: 14min 11s (started: 2023-06-06 14:21:22 -05:00)

In [ ]:
df_edge_embeddings_concat_filter = dict_df_edge_embeddings_concat_filter[groups_id[0]]
df_edge_embeddings_concat_filter.head()

                          0         1         2  subgroup
59.0049  369.1213  0.783018  0.024875  0.354545         1
         503.0807  0.000378  0.239430  0.066928         1
         558.4273  2.496010  0.103704  0.548030         1
         977.8237  0.492603  0.250157  0.101900         1
274.0123 191.0460  2.037267  0.176170  0.041174         1

time: 6.26 ms (started: 2023-06-06 14:35:34 -05:00)

In [ ]:
# count edges and filter by count

dict_df_edges_filter = {}
for group in tqdm(groups_id):
    # count
    df_edge_embeddings_concat_filter = dict_df_edge_embeddings_concat_filter[group]

    df_edge_embeddings_concat_filter.reset_index(inplace=True)
    df_edge_embeddings_concat_filter = df_edge_embeddings_concat_filter[["level_0", "level_1"]].value_counts().to_frame()
    df_edge_embeddings_concat_filter.reset_index(inplace=True)
    df_edge_embeddings_concat_filter.columns = ["source", "target", "count"]

    # filter
    df_edge_embeddings_concat_filter = df_edge_embeddings_concat_filter[df_edge_embeddings_concat_filter["count"] == len(subgroups_id[group])]
    df_edge_embeddings_concat_filter = df_edge_embeddings_concat_filter.iloc[:, [0, 1]]
    dict_df_edges_filter[group] = df_edge_embeddings_concat_filter

100%|██████████| 3/3 [00:09<00:00,  3.20s/it]

time: 9.61 s (started: 2023-06-06 14:35:34 -05:00)

In [ ]:
df_edges_filter = dict_df_edges_filter[groups_id[0]]
df_edges_filter.head()

     source    target
0  487.2134  920.1236
1  190.0537  242.1510
2  758.5700  819.5543
3  758.4964  863.5636
4  903.6068  913.5813

time: 4.72 ms (started: 2023-06-06 14:35:43 -05:00)

In [ ]:
# get weight by subgroups

dict_df_edges_filter_weight = get_weight_global(dict_df_edges_filter, exp, groups_id, subgroups_id)
df_edges_filter_weight = dict_df_edges_filter_weight[groups_id[0]]
df_edges_filter_weight.head()

100%|██████████| 5/5 [00:14<00:00,  2.95s/it]
100%|██████████| 3/3 [00:23<00:00,  7.77s/it]
100%|██████████| 2/2 [00:08<00:00,  4.19s/it]
100%|██████████| 3/3 [00:48<00:00, 16.04s/it]

,source,target,subgroup1,subgroup2,subgroup3,subgroup4,subgroup5
21486,59.0137,389.2739,0.823682,0.886260,0.723124,0.515230,0.917952
21572,59.0137,389.3284,0.861323,0.889178,0.521535,0.795494,0.890928
21598,59.0137,418.3254,0.917996,0.948796,0.786776,0.798094,0.938164
23760,59.0291,417.3220,0.855964,0.852473,0.571245,0.569312,0.899766
23786,59.0291,418.3254,0.857608,0.848869,0.619139,0.561154,0.903494

time: 48.3 s (started: 2023-06-06 14:35:43 -05:00)

In [ ]:
df_edges_filter_weight = dict_df_edges_filter_weight[groups_id[0]]
df_edges_filter_weight.head()

,source,target,subgroup1,subgroup2,subgroup3,subgroup4,subgroup5
21486,59.0137,389.2739,0.823682,0.886260,0.723124,0.515230,0.917952
21572,59.0137,389.3284,0.861323,0.889178,0.521535,0.795494,0.890928
21598,59.0137,418.3254,0.917996,0.948796,0.786776,0.798094,0.938164
23760,59.0291,417.3220,0.855964,0.852473,0.571245,0.569312,0.899766
23786,59.0291,418.3254,0.857608,0.848869,0.619139,0.561154,0.903494

time: 14 ms (started: 2023-06-06 14:36:32 -05:00)

### Filter by STD and average weight

In [ ]:
dict_df_common_edges = std_global(dict_df_edges_filter_weight, exp, method, dimension, groups_id, th=0.3, plot=True, save=True)
dict_df_common_edges[groups_id[0]].head()

100%|██████████| 3/3 [00:14<00:00,  4.96s/it]

    source    target    weight
0  59.0137  389.2739  0.773249
1  59.0137  389.3284  0.791692
2  59.0137  418.3254  0.877965
3  59.0291  417.3220  0.749752
4  59.0291  418.3254  0.758053

time: 14.9 s (started: 2023-06-06 14:36:32 -05:00)

In [ ]:
df_common_edges = pd.read_csv("output/{}/common_edges/common_edges_{}_{}_{}_{}.csv".format(exp, groups_id[0], method, dimension, "L2"))
df_common_edges.head()

    source    target    weight
0  59.0137  389.2739  0.773249
1  59.0137  389.3284  0.791692
2  59.0137  418.3254  0.877965
3  59.0291  417.3220  0.749752
4  59.0291  418.3254  0.758053

time: 25.1 ms (started: 2023-06-06 14:36:47 -05:00)

In [ ]:
# show details

for group in tqdm(groups_id):
    df_common_edges = pd.read_csv("output/{}/common_edges/common_edges_{}_{}_{}_{}.csv".format(exp, group, method, dimension, "L2"))
    
    G = nx.from_pandas_edgelist(df_common_edges, "source", "target", edge_attr=["weight"])
    print("Group: {}".format(group))
    graph_detail(G)

  0%|          | 0/3 [00:00<?, ?it/s]

Group: WT
Num. nodes: 2305
Num. edges: 28617

 67%|██████▋   | 2/3 [00:01<00:00,  1.95it/s]

Group: zwf1^
Num. nodes: 4875
Num. edges: 495251

100%|██████████| 3/3 [00:01<00:00,  1.57it/s]

Group: pck1^
Num. nodes: 5276
Num. edges: 445247

time: 1.91 s (started: 2023-06-06 14:36:47 -05:00)